.vscode
404.html
./_book/
./_bookdown_files/
Admin/
GIT/
*.pptx
*.Rdata
*.pdf
*.jpg
*.png
*.gif
plan.txt
URFIST.md
.DS_Store
.Rproj.user
.Rhistory
liste_labo.txt
upload.sh
google_analytics.html
Examples
Exam/Exam2019/ExamFiles
Exam/Exam2020/ExamFiles
Exam/Exam2021/ExamFiles
Exam/ExoTD
# Exo/plot0
# Exo/FTIR
# Exo/Grt
# Exo/SEM_particles
# Exo/spectro
# Exo/religion_babies
# Exo/tga
# Exo/bulk_modulus
# Exo/co2
# Exo/covid
# Exo/GofR
Exo/diffusion
Exo/shiny