_bookdown_files
.Rhistory
.Rproj.user
.vscode
*.Rdata
**/.DS_Store
/.quarto/
# Exo/bulk_modulus
# Exo/co2
# Exo/covid
# Exo/FTIR
# Exo/GofR
# Exo/Grt
# Exo/plot0
# Exo/religion_babies
# Exo/SEM_particles
# Exo/spectro
# Exo/tga
404.html
Admin/
Exam
Examples
Exo/diffusion
Exo/shiny
GIT/
google_analytics.html
liste_labo.txt
plan.txt
Rclass_presentation.pptx
compile.sh
URFIST.md
