_book
_bookdown_files
.Rhistory
.Rproj.user
.vscode
*.Rdata
**/.DS_Store
/.quarto/
404.html
Admin/
compile.sh
Exam
Examples
Exo/bulk_modulus/solution*
Exo/co2/solution*
Exo/covid/solution*
Exo/diffusion/solution*
Exo/FTIR/solution*
Exo/GofR/solution*
Exo/Grt/solution*
Exo/plot0/solution*
Exo/religion_babies/solution*
Exo/SEM_particles/solution*
Exo/shiny/solution*
Exo/spectro/solution*
Exo/tga/solution*
GIT/
google_analytics.html
liste_labo.txt
plan.txt
Rclass_presentation.pptx
URFIST.md
