body{
    font-size: 16px;
}
code{
    font-size: 14px;
}

.cell-output-stdout{
    background-color: #eef2f5;
    border-radius: 5px;
}

.tiles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tile {
    flex: 1 0 300px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}


a{
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}